<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static',filename='Task4_3_style_YIJC.css') }}">
		<title>Product Page</title>
	</head>
	<body>
		<h1>All Products:</h1>
		<table>
			<thead>
			<tr><th>Product ID</th>
				<th>Product Name</th>
				<th>Unit Cost</th></tr>
			</thead>
			<tbody>
				{% for product in products%}
				<tr>
					{% for i in product %}
						<td>{{ i }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</br>
		
		<form action="form" method="post">
			<h2>Product ID</h2>
			<input type="text" name="id" placeholder="Enter ID" required />
			<h2>Quantity</h2>
			<input type="text" name="qty" placeholder="Enter Quantity" required />
			<h2>School Code</h2>
			<input type="text" name="schoolcode" placeholder="Enter Code" required />
			<br/>
			<input type="submit" value="Submit" />
		</form>
		</br>
	</body>
</html>