<!doctype html>
<html>
	<head>
		<title>Add health record</title>
	</head>
	
	<body>
		<h1>Add health record</h1>
		<form action="/submit" method="post">
			<h2>Enter StudentID<h2>
			<textarea name=StudentID></textarea></br>
			
			<h2>Enter Name<h2>
			<textarea name=Name></textarea></br>
			<h2>Enter Gender<h2>
			<textarea name=Gender></textarea></br>
			
			<h2>Enter Height<h2>
			<textarea name=Height></textarea></br>
			<h2>Enter Weight<h2>
			<textarea name=Weight></textarea></br>
			
			<input type='submit'>
		</form>
	</body>
</html>