<!doctype html>
<html>
	<head>
		<title>Heath record statistics</title>
	</head>
	
	<body>
		<h1>Heath record statistics</h1>
		<table border>
			<tr><th>Statistic</th><th>Value</th></tr>
			
			<tr><td>Total Male:</td><td>{{ results[0][0][0] }}</td></tr>
			
			<tr><td>Total Female:</td><td>{{ results[1][0][0] }}</td></tr>
			
			<tr><td>Average Male Weight:</td><td>{{ results[2][0][0] }}</td></tr>
			
			<tr><td>Average Female Weight:</td><td>{{ results[3][0][0] }}</td></tr>
			
			<tr><td>Average Male Height:</td><td>{{ results[4][0][0] }}</td></tr>
			
			<tr><td>Average Female Height:</td><td>{{ results[5][0][0] }}</td></tr>
		</table>
	</body>
</html>