<!DOCTYPE html>
<html>
<head>
<title>Add Certificate Record</title>
</head>

<body>
	<h2>Add Certificate Record</h2>
	<p>Enter the following information:</p>
	<form action="result" method="post"> 
	<table border="1">
		<tr>
			<td><label for="memberid">Member ID</label></td>
			<td><input id="memberid" name="memberid"></td>
		</tr>
		<tr>
			<td><label for="coursecode">Course Code</label></td>
			<td><input id="coursecode" name="coursecode"></td>
		</tr>
		<tr>
			<td><label for="issuedate">Issue Date</label></td>
			<td><input id="issuedate" name="issuedate"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Add Cert Record"></td>
		</tr>
	</table>
	</form>
	<br/>
	<a href='/'>Back to the Homepage</a>
</body>

</html>